<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fireph">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_f"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_f_round"
        android:supportsRtl="true"
        android:name = "androidx.multidex.MultiDexApplication"
        android:theme="@style/Theme.FirePH"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ForgotPassActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".InsertionActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".CategoryListAdapter"
            android:exported="true">
        </activity>
        <activity
            android:name=".ViewTransactions"
            android:exported="true">
        </activity>
        <activity
            android:name=".PieExpensesChart"
            android:exported="true">
        </activity>
        <activity
            android:name=".PieIncomeChart"
            android:exported="true">

        </activity>
        <activity
            android:name=".CategoryIncomeAdapter"
            android:exported="true">
        </activity>
        <activity
            android:name=".viewIncomeTransactions"
            android:exported="true">
        </activity>
        <activity
            android:name=".ManageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ManageActivitySetSavings"
            android:exported="true">
        </activity>
    </application>

</manifest>